    <footer class="footer">
        <div class="container">
            <div class="row">
               <div class="col-lg-2"></div>
                <div class="col-lg-3 col-md-12">
                    <h3>Travels-blog</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellat, eaque molestiae.</p>
                </div>
                <div class="col-lg-3 col-md-6 md_cen">
                    <h3>Contacts</h3>
                    <address>
                    <b>Lorem ipsum <br> dolor sit amet,<br> consectetur <br>adipisicing.</b>
                </address>
                </div>
                <div class="col-lg-3 col-md-6 md_cen">
                    <h3>Navigation</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacts</a>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <img src="/image/logo.png" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, quia, suscipit. Autem!</p>
    </div>

</body>
</html>