<div class="col-lg-3 col-md-4 order-2 order-lg-3">
    <div class="list-group mb-4">
        <a href="#" class="list-group-item list-group-item-action active">Cras justo odio  </a>
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action action">Vestibulum at eros</a>
    </div>
    <h3>Tags Cloud</h3>
    <div class="block">
        <span class="badge badge-info">Info</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-info">Info</span>
        <span class="badge badge-info">Info</span>
    </div>
    <h3>Gallery</h3>
    <div class="block">
        <div class="row no-gutters">
            <div class="col-6"><img class="img-fluid" src="/image/gallery-1.jpg" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="/image/gallery-2.jpg" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="/image/gallery-3.jpg" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="/image/gallery-4.jpg" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="/image/gallery-5.jpg" alt=""></div>
            <div class="col-6"><img class="img-fluid" src="/image/gallery-6.jpg" alt=""></div>
        </div>
    </div>
</div>