{{> header}}
    
    <div class="ind">
        <div class="container">
            <div class="row">
                <div class="col-5 col-sm-6 center">
                    
                        <div class="col"><h1>Registration</h1></div>
                    
                        <form id="registration">
                        <div id="messR"></div>
                        <label for="name">Name: </label><br><input type="text" id="name" name="name" placeholder="name"><br>
                        <label for="password">Password: </label><br><input type="password" id="password" name="password" placeholder="password">
                        <br><button type="submit" >Submit</button>
                    </form>
                </div>
                <div class="col-5 col-sm-6 center">
                    <h1>Login</h1> 
                    <form id="login">
                        <div id="mess"></div>
                       <label for="name">Name: </label><br> <input type="text" id="Lname" name="Lname" placeholder="name"><br>
                       <label for="password">Password: </label><br> <input type="password" id="Lpassword" name="Lpassword" placeholder="password">
                        <br><button type="submit" >Submit</button>
                    </form>
                </div>
            </div>    
        </div>  
    </div>
    


{{> footer}}